* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
    width: 100vw;
    overflow-x: hidden;
}

nav {
    background: #323643;
}

.storeItems {
    width: 100vw;
    background: white;
    padding: 90px;

    .drop_downs {
        z-index: 1000;
        height: auto;
        width: 45%;
        display: flex;
        margin-bottom: 25px;
        justify-content: space-between;

        .down_btnz {
            width: 41px;
            height: 41px;
            background: #FBFAF9;
            border: 0;
            outline: 0;
            border: 0.5px solid #DBDBDB;
            cursor: pointer;
            color: #333333;
        }

        .default_order-container {
            position: relative;

            .default_order {
                background: #FBFAF9;
                border: 0.5px solid #DBDBDB;
                width: 200px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                p {
                    font-family: "Saira Extra Condensed";
                    font-size: 12px;
                    margin-left: 15px;
                    font-weight: 400;
                    color: #333333;
                    line-height: 39px;
                }

                button {
                    width: 41px;
                    background: #FBFAF9;
                    border: 0;
                    outline: 0;
                    border-left: 0.5px solid #DBDBDB;
                    cursor: pointer;
                    color: #333333;

                }
            }




            .dropDownContent {
                z-index: 1000;
                display: none;
                flex-direction: column;
                opacity: 0;
                position: absolute;
                background: #FBFAF9;
                border: 0.5px solid #DBDBDB;
                border-bottom: 0;
                width: 200px;
                
                height: auto;
                transition: all .2s ease-in;

                .order {
                    border-bottom: 0.5px solid #DBDBDB;

                    p {
                        font-family: "Saira Extra Condensed";
                        font-size: 12px;
                        margin-left: 15px;
                        font-weight: 400;
                        color: #333333;
                        line-height: 39px;
                    }
                }
            }
        }

        .default_order-container:hover .dropDownContent {
            display: flex;
            opacity: 1;
        }

        .drpbtns {
            display: flex;
        }
    }

    .shopTems {
        width: 100%;
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 25px;

            .tem:hover {
                box-shadow: 0px 4px 8px 0px rgba(8, 4, 4, 0.15), 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
            }

            .tem {
                overflow: hidden;
                border-radius: 5px 5px 5px 5px;
                box-shadow: 0px 4px 8px 0px rgba(8, 4, 4, 0.1), 0px 6px 20px 0px rgba(0, 0, 0, 0.05);
                cursor: pointer;
                width: 280px;
                height: auto;
                transition: all .2s ease-in;


                .img {
                    width: 100%;
                    height: 300px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .sale {
                        position: absolute;
                        top: 0;
                        margin-top: 10px;
                        margin-left: 10px;
                        z-index: 10;
                        width: 50px;
                        height: 50px;
                        background: #2176FF;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        font-family: "Saira Extra Condensed";
                        font-size: 18px;
                        font-weight: 400;
                        opacity: 0.75;
                    }
                }

                .deets {
                    padding: 20px;
                    width: 100%;
                    background: #FFFFFF;

                    h2 {
                        font-family: "Roboto";
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 40px;
                        color: #03A9F4;
                    }

                    h3 {
                        font-family: "Saira Extra Condensed";
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 30px;
                        color: #03A9F4;
                    }

                    .endbtns {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 30px;

                        i {
                            margin-right: 3px;
                        }

                        p {
                            font-family: "Saira Extra Condensed";
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 30px;
                            color: #03A9F4;
                        }
                    }

                }

            }

        }
    }

    .pages {
        text-align: right;
        width: 100%;

        div {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .down_btnz {
                width: 41px;
                height: 41px;
                background: #FBFAF9;
                border: 0;
                outline: 0;
                border: 0.5px solid #DBDBDB;
                cursor: pointer;
                color: #333333;
                margin-left: 5px;
                font-family: "Saira Extra Condensed";
                transition: all .2s ease-in;
            }

            .down_btnz:hover {
                background: #03A9F4;
                color: white;
            }

            .active {
                background: #03A9F4;
                color: white;
            }

            p {
                font-family: "Saira Extra Condensed";
                margin-left: 5px;
                color: #333333;
                transition: all .3s ease-in;
            }

            p:hover {
                color: #03A9F4;
            }

            i {
                margin-left: 2px;
            }
        }
    }
}

.btt {
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 4px 8px 0px rgba(8, 4, 4, 0.15), 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
    outline: 0;
    border: 0;
    font-size: 20px;
    position: fixed;
    top: 80%;
    left: 90%;
    background: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    transition: all .2s ease-in;

}

.btt:hover {
    background: rgba(0, 0, 0, 0.95);
    color: rgba(255, 255, 255, 0.95);
}